
.box {
    background-color: #fff;
    color: #03356a;        
    padding-left: 5px;
    margin: 1px;
    font-size: 150%;
    font-weight: bold;        
}

.one {      
    grid-column: 1 / span 2;
    grid-row: 1 / span 3;
}

.three {    
    grid-column: 3;
    grid-row: 1;
}

.two {
    grid-column: 1 / span 2;
    grid-row: 4;
}

.four {
    grid-column: 3;
    grid-row: 3 ;
}

.five {
    grid-column: 3;
    grid-row: 4;
}