
body {
  margin: 40px;
  background-color: #0f70a3;
}

.wrapper {
  display: grid;
  grid-gap: 15px;
  column-gap: 0.5em;
  row-gap: 0.2em;
  grid-template-columns: 125px 125px 125px;
  grid-template-rows: 100px auto 100px 100px;
}
